*.sw[a-p]
*.o
*~
*.chr
*.cdl
*.nes
*.nl
*.dbg
/obj/nes/*.s
/zip.in
*.nes.deb
*.fdb
/map.txt
/map256.txt
/nsfmap.txt
__pycache__/
*.pyc
nrom-template.nes
nrom-template-*.zip

# this is NES homebrew, not DSiWare
*.DS_Store
